body {
  /* If the user cannot load the Arial font, the sans-serif font is used */
  font-family: Arial, sans-serif;
  background-color: beige;
}

header > img {
  float: left;
  width: 100px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square inside;
}


/*directions list items*/
.directions-list {
  list-style: upper-roman;
}

.directions-list li {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* This selector selects ALL anchor tag children of ALL list elements that
are children of an Unordered List element */
ul li a {
  color: inherit;
  text-decoration: none;
}

/*could not get the stars to show up*/
input[type="radio"] {
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url(stars.png);
  vertical-align: bottom;
}

/*need to include this because our stars.png is actually all three star color
so we need to offset to show only the gold star.*/
input[type="radio"]:checked {
  background-position: 60px 60px;
}


input[type="submit"] {
  cursor: pointer;
  background-color: gold;
  display: block;
}

select {
  cursor: pointer;
  outline: none;
}

form input[type="submit"]:hover {
  -webkit-filter: brightness(50%);
}

/*color every other item in the directions list*/
.directions-list li:nth-of-type(2n) {
  background: whitesmoke;
}

h2 + .user_review {
  border-top: 1px solid black;
}

nav {
  float: right;
}

nav ul li {
    display:  inline-block;
}

nav ul li a {
    padding: 20px;
    display: block;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

body {
  width: 90%;
  margin: 0 auto; /*"classic" centering trick per instructions*/
}

.main-section {
    display: inline-block;
    vertical-align: top;
}

aside {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.col {
  float: left;
  padding-right: 10px;
  box-sizing: border-box;
}

.col-1-3 {
  width: 33.33%;
}

.col-2-3 {
  width: 66.66%;
}

.ingredients-list li {
  margin-top: 15px;
  margin-bottom: 15px;
}

input[type="text"], select {
  display: block;
  width: 175px;
}

select {
  margin: 10px 0;
  width: 180px;
}

textarea {
  width: 350px;
}

label {
  display: block;
}
